<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<p id="notice"><%= notice %></p>
			
			<p>
			  <strong>Title:</strong>
			  <%= @menu.title %>
			</p>
			
			<p>
			  <strong>Description:</strong>
			  <%= @menu.description %>
			</p>
			
			<p>
			  <strong>Price:</strong>
			  <%= @menu.price %>
			</p>
			
			<p>
			  <strong>Image url:</strong>
			  <%= @menu.image_url %>
			</p>
			
			<p>
			  <strong>Category:</strong>
			  <%= @menu.category %>
			</p>
			
			<%= link_to 'Edit', edit_menu_path(@menu) %> |
			<%= link_to 'Back', menus_path %>
		</div>
	</div>
</div>
