<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<%= render 'layouts/navbar' %>
</header>  
<div class="container">
	
	
<% if notice %>
<div class="alert alert-success">
	<a href="#" class="close" data-dismiss="alert">&#215;</a>
	<%= notice %>
</div>
<% end %>
<% if alert %>
<div class="alert alert-danger">
	<a href="#" class="close" data-dismiss="alert">&#215;</a>
   <%= alert %>
</div>
<% end %>
</div>
  <%= yield %>

<footer>
<%= render 'layouts/footer' %>
</footer>
</body>
</html>
